body {
    margin: 0 auto;
    width: 70%;
    font-family: 'Fira Code', verdana;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.scores {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.scores div {
    padding: 10px;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    margin: 50px auto 20px auto;
    padding: 20 px;
}

.cell {
    border: 5px solid white;
    text-align: center;
    background-color: #ecfaa7
}

.cross {
    background-image: url('images/E0C6_color.png');
    background-size: contain;
    border: 5px solid white;
    text-align: center;
}

.nought {
    background-image: url('images/1F40D_color.png');
    background-size: contain;
    border: 5px solid white;
    text-align: center;
}

.player-display {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.scores, .winner-wrapper {
    margin: 10px auto auto 10px;
    font-size: 30px;
    text-align: center;
}

.reset-wrapper {
    text-align: center
}

.reset {
    visibility: hidden;
    background-color:#b1cc33;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
}

span .let {
    color: blue;
}

