
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Fira Code', verdana;
    background-color: #ecfaa7;
}

.header-container {
    width: 50%; 
    margin: 20px auto 20px auto;
} 

.body-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.body-wrapper {
    margin: 0 auto;
    width: 80%;
}

.column-1 {
    margin: auto;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 50px;
    margin: 0 auto;
    font-weight: bold;
    color: #a57939;
}

.scores {
    border: 3px solid #6a462f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #6a462f
  }

.scores div {
    padding: 20px;
    border: 1px solid #6a462f
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    margin: 50px auto 20px auto;
}

.cell {
    border: 5px solid #ecfaa7;
    text-align: center;
    background-color: #b1cc33;
}

.cross {
    background-image: url('images/E0C6_color.png');
    background-size: contain;
    border: 5px solid #ecfaa7;
    text-align: center;
}

.nought {
    background-image: url('images/1F40D_color.png');
    background-size: contain;
    border: 5px solid #ecfaa7;
    text-align: center;
}

.player-display {
    margin: auto;
    font-size: 35px;
    text-align: center;
    color: #6a462f;
    font-weight: bold;
}


.winner-wrapper {
    font-size: 35px;
    margin: auto;
    text-align: center;
    color: #6a462f;
    font-weight: bold;
}

.reset-wrapper {
    text-align: center
}

.reset {
    visibility: hidden;
    border: solid 5px #6a462f;
    background-color:#5b9d30;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    margin: 20px auto 0 auto;
    font-family: 'Fira Code', verdana;
    color: #6a462f;
    font-weight: bold;
    border-radius: 10px;
}

